* {
  padding: 0;
  margin: 0;
}
html {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.title {
  margin-bottom: 10px;
  border-bottom: 1px solid #cccccc;
  padding: 10px;
  padding-left: 20px;
  background-color: darkblue;
  color: white;
}
.container {
  max-width: 1200px;
  padding: 20px;
  margin: 0 auto;
}

.texto-desconto-inss {
  color: #e67e22;
}

.texto-desconto-irpf {
  color: #c0392b;
}

.texto-salario-liquido {
  color: #16a085;
}

.flex {
  display: flex;
  flex: 1;
}
.v-center {
  justify-content: center;
}
.flex-1 {
  flex: 1;
}
.warp {
  flex-wrap: wrap;
}
.full-width {
  width: 100%;
}
.input-wrapper {
  margin: 20px;
  display: flex;
  flex-direction: column;
}

.input-wrapper > label {
  display: inline-block;
  font-size: 12px;
  margin-bottom: 8px;
}

.input-wrapper input {
  padding: 8px;
  text-align: right;
  line-height: 1.5em;
  width: 100%;
  border: none;
  outline: none;
  border-bottom: 1px solid #ccc;
}

.texto-vermelho {
  color: red;
}

.grafico-wrapper {
  width: 100%;
  margin-top: 20px;
  display: flex;
}
.grafico-wrapper > div {
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: width 0.5s;
}

.label-grafico {
  font-size: 9px;
  color: white;
  font-weight: bold;
}

.desconto-inss {
  background-color: #e67e22;
}

.desconto-irpf {
  background-color: #c0392b;
}

.salario-liquido {
  background-color: #16a085;
}
